.header__Lagoona {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

.header__content {
    display: flex;
    justify-content: center;
}

.img__Lagona {
    margin-top: 30px;
    display: flex;
    color: black;
    width: 261px;
    height: 54px;
    background-color: #F0BF5F;
    border-radius: 15px;
    padding: 7px 100px 8px 23px;
    background: #F0BF5F;
}

.header__strip {
    margin-left: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 1px;
    height: 45px;
    background-color: white;
}

.header__phone {
    align-items: end;
    width: 164px;
    margin-top: 55px;
    margin-left: 40px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
}

.header__personalArea {
    margin-top: 27px;
}

.ringhtArrow {
    color: #CC9933;
    width: 21px;
    height: 12px;
}

.personalArea {
    font-family: Muller;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    margin: 7px;
    align-items: center;
}
