.service-contayner {
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 23px;
    margin-right: 23px;
}

.service-contayner__img{
    border-radius: 15px 15px 0px 0px;
}

.service-contayner__content {
    display: flex;
    margin-left: 45px;
}

.service-contayner__title {
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 200%;
    color: #CC9933;
    margin-top: 26px;
    margin-bottom: 0px;
}

.service-contayner__pointer { 
    width: 11px;
    height: 11px;
    border-bottom: 2px solid #CC9933;
    border-right: 2px solid #CC9933;
    box-sizing: border-box;
    transform: rotate(-45deg);
    margin-top: 40px;
}

.service-contayner__text {
    width: 400px;
    height: 50px;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45px;
    margin-bottom: 50px;
    margin-top: 0px; 
}



