.travel-content {
    width: 1170px;
    height: 274px;
    background: #E9E9E9;
    border-radius: 15px;
    margin: 70px 0;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.travel-content__title {
    height: 40px;
    font-family: Muller;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    margin: 38px 0px 19px 40px;
}

.travel-content__navigation {
    width: 1080px;
    height: 106px;
    background: #FFFFFF;
    border-radius: 15px;
    margin: 0px 45px 71px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
