@font-face {
    font-family: Muller;
    src: url(./fontsMuller/MullerMedium.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Muller;
    src: url(./fontsMuller/MullerLight.ttf);
    font-weight: normal;
}

body {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
}




